body {
  background: #1e555c;
  color: white;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: auto;
}

.main-title {
  font-size: 50px;
  margin-bottom: 20px;
}

/* Length Control specific styles appended below */

.length-controls-container {
  display: flex;
  width: 100%; /* Ensures it fills the container */
  justify-content: space-around;
  margin-bottom: 20px; /* Optional spacing */
}

.length-control {
  width: 50%; /* Each control takes up half the width */
  text-align: center;
}

#session-label {
  font-size: 25px;
}
#break-label {
  font-size: 25px;
}

.length-control-settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.length-control-settings > div {
  margin: 0 5px; /* Spacing between the controls */
  cursor: pointer; /* Indicates the arrows are clickable */
  user-select: none; /* Prevents text selection */
}

#timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer {
  margin-bottom: 20px;
}

#timer-label {
  font-size: 20px; /* Smaller than the time-left */
  margin-bottom: 10px;
}

#time-left {
  font-size: 55px; /* Larger display for the timer */
}

.timer-control {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.timer-control button {
  background: #0a3d62;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
}

.timer-control button:hover {
  background: #1e555c;
}